@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Italic.ttf') format('ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('ttf');
    font-style: bold;
}

.content-ct {
    text-align: justify;
}

.content-ct-title {
    text-align: center;
}

.feature span {
    font-size: 5em;
    color: #016cc7;
}

.speaker .feature {
    width: 31.333333%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 5px;
}

.speaker-img {
    max-width: 40%;
    border: 4px solid #efefef;
    border-radius: 50%;
}

.responsive {
    max-width: 100%;
    /* height: auto; */
}

p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

b {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

  .code-block {
    background-color: #f4f4f4;
    border-left: 3px solid #d0d0d0;
    font-family: monospace;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.code-block:hover:before {
    content: 'Copy';
    position: absolute;
    top: 5px;
    right: 10px;
    background: #d0d0d0;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.list-group-item {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

accordion-body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;

}